.btn:hover{
    background: #fff;
    color: var(--first-color);
    border: 2px solid var(--first-color);
}
::placeholder{
    color: rgb(0,109,164);
}
.contact_social-link{
    transition: all 0.3s ease;
}
.contact_social-link:hover{
    background-color: var(--first-color);
    color:var(--text-white)
}
